<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wirnin.hanguldetection">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MenuTulis"></activity>
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LatihanActivity" />
        <activity android:name=".Activity.MateriBacaActivity" />
        <activity android:name=".Activity.MateriTulisActivity" />
        <activity android:name=".Activity.MenuBaca" />
        <activity android:name=".Activity.MenuUtama"></activity>
    </application>

</manifest>